---
//Import Layout
import Bloglayout from "../layouts/Bloglayout.astro";
import CardItem from "../components/CardItem.astro";

const postList = await Astro.glob("../pages/post/*.md");

---

<Bloglayout title="Blog">
  <main class="h-screen bg-slate-100">
    <div class="max-w-screen-xl mx-auto">
      <section class="mb-8">
        <h1 class="text-4xl md:text-6xl mb-6 font-semibold text-teal-600">
          Blog
        </h1>
        <p>
          Aquí encontraras joyas y otras tantas cosas que me gusta escribir:
        </p>
      </section>

      <section>
        <ul class="grid grid-cols-4 gap-4">
          {
            postList.map(
              (post) => (
                (
                  <CardItem 
                    url={post.url} 
                    imageUrl={post.frontmatter.image.url} 
                    title={post.frontmatter.title}
                    date={post.frontmatter.date}
                    description={post.frontmatter.description}
                  />
                )
              )
            )
          }
        </ul>
      </section>
    </div>
  </main>
</Bloglayout>

<style>
  main {
    padding: 2rem;
  }
</style>
