---
const { url, imageUrl, title, date, description } = Astro.props;
---

<li
  class="bg-white rounded-md shadow-md hover:border-teal-600 hover:border duration-1000 ease-in-out"
>
  <a href={url} class="text-teal-600 group">
    <div class="mb-2 h-auto overflow-hidden">
      <img
        src={imageUrl}
        alt={title}
        class="w-full h-40 object-cover rounded-t-md transition-scale brightness-75 duration-1000 ease-in-out group-hover:scale-110 group-hover:brightness-100"
      />
    </div>

    <div class="p-4">
      <h2 class="text-2xl text-teal-600 font-semibold mb-5">
        {title}
      </h2>
      <span class="text-sm text-zinc-400">
        {date}
      </span>
      <p class="text-sm">{description}</p>
    </div>
  </a>
</li>

<style>
    h1 {
    line-height: normal;
    color: rgb(13 148 136);
  }

  a {
    text-decoration: none;
    color: #000;
  }
</style>